a:hover {
    border-bottom: 0;
  }

a:active, a:focus, input:active, input:focus {
    transition: none;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #ffbf47;
  }

a:active, a:focus {
    color: #0b0c0c;
    background-color: #ffbf47;
  }
