a:hover {
    border-bottom: 0;
  }

a:active, a:focus, input:active, input:focus, select:active, select:focus, textarea:active, textarea:focus {
    transition: none;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #F3A536;
  }
