/* Rotherham Council - Status Colours */

/* Success */
.success { color: #a4d0b1; }
.bg-success { background-color: #a4d0b1; }
.b--success { border-color: #a4d0b1; }
.hover-success:hover,
.hover-success:focus { color: #a4d0b1; }
.hover-bg-success:hover,
.hover-bg-success:focus { background-color: #a4d0b1; }

/* Warning */
.warning { color: #f3a536; }
.bg-warning { background-color: #f3a536; }
.b--warning { border-color: #f3a536; }
.hover-warning:hover,
.hover-warning:focus { color: #f3a536; }
.hover-bg-warning:hover,
.hover-bg-warning:focus { background-color: #f3a536; }

/* Danger */
.danger { color: #f1a3aa; }
.bg-danger { background-color: #f1a3aa; }
.b--danger { border-color: #f1a3aa; }
.hover-danger:hover,
.hover-danger:focus { color: #f1a3aa; }
.hover-bg-danger:hover,
.hover-bg-danger:focus { background-color: #f1a3aa; }
