/* Rotherham Council Design System - Greyscale */

/* Black */
.black { color: #080808; }
.bg-black { background-color: #080808; }
.b--black { border-color: #080808; }
.hover-black:hover,
.hover-black:focus { color: #080808; }
.hover-bg-black:hover,
.hover-bg-black:focus { background-color: #080808; }

/* White */
.white { color: #FFFFFF; }
.bg-white { background-color: #FFFFFF; }
.b--white { border-color: #FFFFFF; }
.hover-white:hover,
.hover-white:focus { color: #FFFFFF; }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #FFFFFF; }
