/* Rotherham Council Design System - Secondary colours */

/* Purple */

.purple-5 { color: #87189D; }
.bg-purple-5 { background-color: #87189D; }
.b--purple-5 { border-color: #87189D; }
.hover-purple-5:hover,
.hover-purple-5:focus { color: #87189D; }
.hover-bg-purple-5:hover,
.hover-bg-purple-5:focus { background-color: #87189D; }

/* Orange */

.orange-5 { color: #ED8B00; }
.bg-orange-5 { background-color: #ED8B00; }
.b--orange-5 { border-color: #ED8B00; }
.hover-orange-5:hover,
.hover-orange-5:focus { color: #ED8B00; }
.hover-bg-orange-5:hover,
.hover-bg-orange-5:focus { background-color: #ED8B00; }

/* Green */

.green-5 { color: #78BE20; }
.bg-green-5 { background-color: #78BE20; }
.b--green-5 { border-color: #78BE20; }
.hover-green-5:hover,
.hover-green-5:focus { color: #78BE20; }
.hover-bg-green-5:hover,
.hover-bg-green-5:focus { background-color: #78BE20; }

/* Red */

.red-5 { color: #EF3340; }
.bg-red-5 { background-color: #EF3340; }
.b--red-5 { border-color: #EF3340; }
.hover-red-5:hover,
.hover-red-5:focus { color: #EF3340; }
.hover-bg-red-5:hover,
.hover-bg-red-5:focus { background-color: #EF3340; }

/* Brown */

.brown-5 { color: #89532F; }
.bg-brown-5 { background-color: #89532F; }
.b--brown-5 { border-color: #89532F; }
.hover-brown-5:hover,
.hover-brown-5:focus { color: #89532F; }
.hover-bg-brown-5:hover,
.hover-bg-brown-5:focus { background-color: #89532F; }
