/* Rotherham Council - Primary Colours */

/* Greys */
.grey { color: #4F758B; }
.bg-grey { background-color: #4F758B; }
.b--grey { border-color: #4F758B; }
.hover-grey:hover,
.hover-grey:focus { color: #4F758B; }
.hover-bg-grey:hover,
.hover-bg-grey:focus { background-color: #4F758B; }

.grey-l { color: #94ADBB; }
.bg-grey-l { background-color: #94ADBB; }
.b--grey-l { border-color: #94ADBB; }
.hover-grey-l:hover,
.hover-grey-l:focus { color: #94ADBB; }
.hover-bg-grey-l:hover,
.hover-bg-grey-l:focus { background-color: #94ADBB; }

.grey-xl { color: #DBE4E9; }
.bg-grey-xl { background-color: #DBE4E9; }
.b--grey-xl { border-color: #DBE4E9; }
.hover-grey-xl:hover,
.hover-grey-xl:focus { color: #DBE4E9; }
.hover-bg-grey-xl:hover,
.hover-bg-grey-xl:focus { background-color: #DBE4E9; }

.grey-d { color: #355363; }
.bg-grey-d { background-color: #355363; }
.b--grey-d { border-color: #355363; }
.hover-grey-d:hover,
.hover-grey-d:focus { color: #355363; }
.hover-bg-grey-d:hover,
.hover-bg-grey-d:focus { background-color: #355363; }

.grey-xd { color: #1D2F3A; }
.bg-grey-xd { background-color: #1D2F3A; }
.b--grey-xd { border-color: #1D2F3A; }
.hover-grey-xd:hover,
.hover-grey-xd:focus { color: #1D2F3A; }
.hover-bg-grey-xd:hover,
.hover-bg-grey-xd:focus { background-color: #1D2F3A; }


/* Blues */
.blue { color: #002554; }
.bg-blue { background-color: #002554; }
.b--blue { border-color: #002554; }
.hover-blue:hover,
.hover-blue:focus { color: #002554; }
.hover-bg-blue:hover,
.hover-bg-blue:focus { background-color: #002554; }

.blue-l { color: #667C9B; }
.bg-blue-l { background-color: #667C9B; }
.b--blue-l { border-color: #667C9B; }
.hover-blue-l:hover,
.hover-blue-l:focus { color: #667C9B; }
.hover-bg-blue-l:hover,
.hover-bg-blue-l:focus { background-color: #667C9B; }

.blue-xl { color: #CCD3DF; }
.bg-blue-xl { background-color: #CCD3DF; }
.b--blue-xl { border-color: #CCD3DF; }
.hover-blue-xl:hover,
.hover-blue-xl:focus { color: #CCD3DF; }
.hover-bg-blue-xl:hover,
.hover-bg-blue-xl:focus { background-color: #CCD3DF; }

.blue-d { color: #001A3E; }
.bg-blue-d { background-color: #001A3E; }
.b--blue-d { border-color: #001A3E; }
.hover-blue-d:hover,
.hover-blue-d:focus { color: #001A3E; }
.hover-bg-blue-d:hover,
.hover-bg-blue-d:focus { background-color: #001A3E; }

.blue-xd { color: #000E25; }
.bg-blue-xd { background-color: #000E25; }
.b--blue-xd { border-color: #000E25; }
.hover-blue-xd:hover,
.hover-blue-xd:focus { color: #000E25; }
.hover-bg-blue-xd:hover,
.hover-bg-blue-xd:focus { background-color: #000E25; }
